<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinEspressoUITestingFinalDemo"
        tools:targetApi="31">
        <!--<activity
            android:name=".Ex16RecylerViewActivity"
            android:exported="false" />-->
        <activity
            android:name=".BookDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Ex15CustomListViewActivity"
            android:exported="false" />
        <activity
            android:name=".Ex14DateTimePickerActivity"
            android:exported="false" />

<activity
            android:name=".Ex13FragmentActivity"
            android:exported="false" />

        <activity
            android:name=".Ex12DialogBox1Activity"
            android:exported="false" />
        <activity
            android:name=".Ex12DialogBoxActivity"
            android:exported="false" />
        <activity
            android:name=".Ex10BackbuttonPressedSecondActivity"
            android:exported="false" />
        <activity
            android:name=".Ex10BackbuttonPressedActivity"
            android:exported="false" />
        <activity
            android:name=".Ex9_DialogToastActivity"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".Ex8_LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Ex7_CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".Ex6_SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".Ex5_ToastMessageActivity"
            android:exported="false" />
        <activity
            android:name=".Ex4_StartAnotherScreenSecondActivity"
            android:exported="false" />
        <activity
            android:name=".Ex4_StartAnotherScreenFirstActivity"
            android:exported="false" />
        <activity
            android:name=".Ex3_EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".Ex2_EnableOrVisibleActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Ex16RecylerViewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>